/*Body*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*End Of Body*/


/*--Navbar(Start)--*/
.hdr-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgreen;
   
}

.nav-items a{
    text-decoration: none;
    font-size: 2rem;
    font-style: bold;
    color:black;
    padding: 1rem;
  
}
.nav-items li{
    list-style: none;
    display: inline-block;
}

.nav-items a:hover{
    color:white;
}

.memb-btn{
    padding: 3px;
    color:lightgreen;
    background:black;
    font-size:1.5rem;
    font-weight:bold;
    border-radius: 10px;;

}

.memb-btn:hover{
    background-color: white;
    color:black;
  cursor:pointer;
}
/* --Navbar(End)--*/

.hero{
    vertical-align: bottom;;
}


/* --Hamburger Menu(Start)--*/

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height:21px;

   
}
.burgerbar{ 
    height: 3px;
    width: 100%;
    background-color:white;
    border-radius: 10px;
}

@media (max-width: 1000px){

.toggle-button{ 
    display:flex;
}

.nav-items{
    width: 100%;
    display: none;
}




.hdr-container{
    flex-direction: column;
    align-items: flex-start;
}

.nav-items{
    flex-direction: column;
    align-items: flex-start;
}


.nav-items ul{
    flex-direction: column;
    width: 100%;
}

.nav-items li{
text-align: center;

}

.nav-items li a{
    padding: .5rem 1rem;
}

.nav-items.active{
    display: flex;
}

}
    

/* --Hamburger Menu(End)--*/

/*--Highlights Section --*/


.highlight-container{
width: 100%;
    background-color: black;;
    display: inline-flex;
  justify-content: space-evenly;
   flex-wrap: wrap;


 
}

.slogan{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-self:center;
    background-color:black;
    display: flex;
    justify-content: center;
    color: white;
}

.slogan-text{
        font-size: 4rem;
        color: lightgreen
}


.image{
    position: relative;
    width: 100px;
 
}

.image__img{
    display: block;
    width: 350%;
}

.image__overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 350%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay:hover{
    opacity: 1;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover > *{
    transform: translateY(0px);
}

.image__title{
    font-size: 4em;
    font-weight: bold;
}

.image__description{
    font-size: 2em;
    margin-top: 0.25em;

}


/*--Menu Section --*/
.menu-container{
    background-color: lightgreen;
    display:flex;
    justify-content: center;
       align-items: center;
}

.gym-container{
    background-color: lightgreen;
    display:flex;
    justify-content: center;
       align-items: center;
}

.cave-container{
    background-color: lightgreen;
    display:flex;
    justify-content: center;
       align-items: center;
}

.menu-area{
    width: 50%
}

.menu-desc{
       font-size: 3rem;
  
}

.main-drink{
    width: 50%;
}

.gym-desc{
    font-size: 3rem;

}
.cave-desc{
    font-size: 3rem;

}

.menu-btn{
width: 12rem;
height: 5rem;
font-size: 2rem;
background-color: black;
color: lightgreen;
border-radius:10px;

}

.gym-btn{
    width: 12rem;
    height: 5rem;
    font-size: 2rem;
    background-color: black;
    color: lightgreen;
    border-radius:10px;
    
    }

    .cave-btn{
        width: 12rem;
        height: 5rem;
        font-size: 2rem;
        background-color: black;
        color: lightgreen;
        border-radius:10px;
        
        }

